.drag-drop {
    @include flex(space-betwen, center);
    margin: 1rem 0;
    .questions {
        width: 40%;
        padding-right: 0.5rem;
    }

    .drops {
        width: 30%;
        margin-right: 1rem;
    }

    .drags {
        width: 30%;
        margin-left: 1rem;
    }
}

.drop {
    border: 3px dashed $brand-color;
    background-color: white;
    width: 100%;
    min-width: 100%;
    min-height: 45px;
    opacity: 0.6;
    position: relative;
}

.drop:hover {
    opacity: 1;
}

.drag {
    border: 2px solid $brand-color;
    background-color: white;
    color: #555;
    width: 100%;
    min-width: 100%;
    min-height: 45px;
    padding: 10px 20px;
    font-weight: 800;
    font-family: $main-font;
    line-height: 1em;
    cursor: pointer;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.drag:hover {
    color:  $brand-color;
}

.drag.forbidden {
    color:  red;
}
.drag p {
    text-align: center;
}

.drop.dropped {
    opacity: 1;
}

.drop.dropped > .drag {
    position: absolute !important;
    color: $brand-color;
    top: 0;
    left: 0;
}

@media (max-width: $tablet-width) {
    .drag-drop {
        @include flex-column(space-betwen, flex-start);
        .questions {
            width: 100%;
        }

        .drops {
            width: 100%;
            margin-right: 0;
        }

        .drags {
            margin-top: 1rem;
            width: 100%;
            margin-left: 0;
        }
    }
}