$brand-color:#78bb20;
$brand-color-on-hover:#568715;
$secondary-color:#005F61;
$secondary-color-hover: #323239;

$success-color: #1BC5BD;
$danger-color: #F64E60;

$light-main-font: 'Leroy', sans-serif;
$main-font: 'Leroy', sans-serif;
$bold-main-font: 'LeroyBold', sans-serif;
$extra-bold-main-font: 'LeroyBold', sans-serif;
$font-color: #575756;

$shadow: 0 1px 3px rgba(0,0,0, 0.12), 1px 0 3px rgba(0,0,0, 0.12);

$tablet-width: 860px;
$mobile-width: 540px;