@font-face {
    font-family: "LeroyBold";
    src: url('./base/fonts/leroy-merlin-sans/LeroyMerlinSans-Web-Bold.woff2');
}

@font-face {
    font-family: "Leroy";
    src: url('./base/fonts/leroy-merlin-sans/LeroyMerlinSans-Web-Regular.woff2');
}
